.project-sub-heading{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.project-sub-heading:hover{
    cursor: pointer;
    color: #1828ff;
}

.project-sub-heading:hover .project-sub-heading-count{
    cursor: pointer;
    background-color:rgb(75, 123, 236) ;
}

.project-sub-heading-text{
    display: inline-block;

    width: 150px;
}

.project-sub-heading-count{
    position: absolute;
    right: -5px;
    margin-top: 2px;
    display: inline-block;
    margin-left: 20px;
    padding: 2px 15px;
    background-color:rgb(27, 156, 252);
    color: white;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}