.project-manager-container{
    
    width: 100vw;
    height: 100vh;
}

.side-bar-container{
    position: relative;
    width: 13%;
    height: 100vh;
    border-right: 1px solid black;
    float: left;
}

.side-bar{
    position: relative;
    width: 80%;
    height: 90%;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.side-bar-task-header{
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
}

.side-bar-sub-heading-container{
    margin-top: 20px;
    margin-bottom: 20px;
}



.side-bar-sub-heading{
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.side-bar-sub-heading:hover{
    cursor: pointer;
}

.project-sub-heading-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-view-container{
    position: relative;
    width: 86%;
    height: 100vh;
   
    float: right;
}

.main-view{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 90%;
    height: 90%;
    padding: 20px;
}